.codehilite pre { color: #FAFAFA !important; background-color: #1a1d1f !important; }
.codehilite .k { color: #FAFAFA !important } /* Keyword */
.codehilite {
    background-color: #1a1d1f !important;
  }

.codehilite .n { color: #f8f8f2 !important } /* Name */


.md-typeset code { box-shadow: none }